*.iml
.gradle
/.gradle-user
/.android-user
/.kotlin/
/local.properties
/twitch.properties
/telegram.properties
/keystore.properties
*.jks
/.idea/*
!/.idea/codeStyles/
!/.idea/codeStyles/**
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/extra/
